<!doctype html>
<html lang="<%= lang %>">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="<%= description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= storename %></title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/admin.css -->
    <link rel="stylesheet" href="styles/admin.scss">
    <!-- endbuild-->

    <!-- build:js bower_components/webcomponentsjs/webcomponents.min.js -->
    <script src="../bower_components/webcomponentsjs/webcomponents.js"></script>
    <!-- endbuild -->

    <!-- build:vulcanized elements/elements.vulcanized.html -->
    <link rel="import" href="elements/elements.html">
    <!-- endbuild-->
  </head>
  <body unresolved fullbleed>

    <<%= storename %>-admin></<%= storename %>-admin>


    <!-- build:js scripts/admin.js -->
    <script src="scripts/admin.js"></script>
    <!-- endbuild-->
  </body>
</html>
